nguyenvatlieu/pkgs/Wadl/uploadfile.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://asia-001.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="uploadfile" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="upload file" />
  <grammars>
    <jsonTypes targetNamespace="https://asia-001.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <base64Binary name="ManualTriggerInput_file_def_contentBytes_def" />
      <string name="ManualTriggerInput_file_def_name_def" />
      <object name="ManualTriggerInput_file_def">
        <property name="contentBytes" typeRef="ManualTriggerInput_file_def_contentBytes_def" />
        <property name="name" type="string" />
      </object>
      <object name="ManualTriggerInput">
        <property name="file" typeRef="ManualTriggerInput_file_def" />
      </object>
      <string name="ResponseActionOutput_file_uploaded_def" />
      <object name="ResponseActionOutput">
        <property name="file_uploaded" type="string" />
      </object>
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://asia-001.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="file" path="/file" type="service:ManualTriggerInput_file_def" required="true">
              <doc title="MyFile" />
            </param>
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>